.cre-wrap-content {
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cre-wrap-content table {
  width: 100%;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  text-align: center;
}

.cre-wrap-content tr,
.cre-wrap-content td,
.cre-wrap-content th {
  border: 1px solid var(--navy-color);
}
.cre-wrap-content th {
  background-color: var(--gray-color);
  font-size: 18px;
  font-weight: bold;
  width: 33%;
  padding: 10px;
}
.cre-wrap-content td {
  padding: 20px;
}

.cre-wrap-item {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border: 1px solid var(--navy-color);
  padding: 40px 20px;
  align-items: center;
}

.cre-item-title h2 {
  margin-left: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.cre-item-price {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cre-item-price div:last-child {
  margin-top: 15px;
}

.cre-item-price span {
  font-weight: bold;
}

.cre-item-state {
  display: flex;
  align-items: center;
}

.cre-item-state h4 {
  font-weight: bold;
}

.cre-item-state div {
  margin: 0 5px;
}

.cre-item-state button {
  background-color: var(--navy-color);
  color: white;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}
