.CrlListd {
  margin-top: 20px;
  margin-left: 30px;
}

.cre-wrap-title {
  width: 800px;
}

.cre-wrap-title h2 {
  font-size: 26px;
  font-weight: bold;
}

.crList-wrap-null {
  width: 1000px;
}

.crl-list-wrap-table {
  width: 1000px;
}

.crlList-content-null {
  margin-top: 100px;
  margin-left: 350px;
}
