.MyPageCheckPw {
  height: 600px;
}

.checkpw-wrap-title {
  margin-top: 30px;
}

.checkpw-wrap-title span {
  font-weight: bold;
  color: rgb(58, 165, 236);
}

.checkpw-wrap-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.checkpw-wrap-item {
  display: flex;
  align-items: center;
  border-top: 3px solid var(--navy-color);
  border-right: 1px solid var(--navy-color);
}

.checkpw-wrap-item-border {
  border-bottom: 1px solid var(--navy-color);
}

.checkpw-input input {
  padding: 5px;
  margin-left: 30px;
  border: 1px solid var(--navy-color);
  border-radius: 3px;
}

.checkpw-input-id input {
  border: none;
}

.checkpw-title {
  font-size: 18px;
  color: white;
  background-color: var(--navy-color);
  padding: 15px;
  width: 150px;
}

.checkpw-wrap-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.checkpw-wrap-button button {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
}

.checkpw-wrap-button button:first-child {
  background-color: var(--navy-color);
}

.checkpw-wrap-button button:last-child {
  background-color: rgb(206, 202, 202);
}
