.MyPageAddressItem {
  width: 800px;
  height: 250px;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  margin-top: 20px;
  padding: 25px;
  align-items: center;
}

.MyPageAddressItem div {
  margin-bottom: 20px;
}

.address-item-title h2 {
  font-size: 18px;
  font-weight: bold;
}

.address-item-update {
  width: 80px;
  margin-top: 30px;
}

.address-item-update button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: var(--navy-color);
  width: 100%;
  border: 1px solid var(--navy-color);
  border-radius: 5px;
  padding: 5px;
}
