.MyPointCheck {
  margin-left: 30px;
}

.check-content-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;

  width: 1000px;
}

.check-content-wrap div {
  background-color: rgb(250, 250, 250);
  padding: 10px;
  width: 100%;
}
.check-content-item {
  margin-right: 30px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.check-content-item div:first-child {
  font-size: 18px;
}

.check-content-item span {
  font-size: 28px;
  font-weight: bold;
}

.check-wrap-date {
  font-size: 18px;
  display: flex;
  align-items: center;

  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 220, 220);
  margin-top: 30px;
  padding: 15px;
}

.check-date-item {
  align-items: center;
  display: flex;

  font-size: 16px;
}

.check-date-item input {
  cursor: pointer;

  padding: 3px;
}

.check-date-item__span {
  margin: 0 10px;
}

.check-date-button {
  font-size: 12px;
  font-weight: bold;
  background-color: var(--navy-color);
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 15px;
}

.pointcheck-content-null {
  margin-top: 50px;
  margin-left: 330px;
}

.select-wrap {
  display: flex;
  justify-content: flex-end;

  align-items: center;
}
