.OrderItem {
  width: 1000px;
  border: 1px solid var(--gray-color);
  border-radius: 15px;
  box-shadow: 0px 0px 15px var(--gray-color);
  padding: 25px;
  margin-bottom: 40px;
}

.orderitem-wrap-title {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.orderitem-wrap-title h2 {
}

.orderitem-wrap-title button {
  background-color: var(--navy-color);
  color: white;

  padding: 7px;
  border-radius: 5px;

  font-weight: bold;
}

.orderitem-wrap-items {
  display: flex;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  margin-top: 20px;
  padding: 25px;
  align-items: center;
}

.orderitem-wrap-left {
  width: 80%;
}

.orderitem-item-title {
  display: flex;
  margin-bottom: 55px;
}

.orderitem-item-title span {
  font-size: 18px;
  font-weight: bold;
}

.orderitem-item-content {
  margin-top: 20px;
  display: flex;
}

.orderitem-item-img {
  width: 100px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  padding: 5px;
}

.orderitem-item-img img {
  width: 100%;
}

.orderitem-item-porfile {
  width: 500px;
  padding-left: 40px;
}

.orderitem-item-porfile h4 {
  font-size: 16px;
  font-weight: bold;
}

.orderitem-porfile-content {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
}

.orderitem-porfile-content span {
  width: 80px;
  display: flex;
}

.orderitem-porfile-content h5 {
  font-weight: bold;
}

.orderitem-wrap-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  border-left: 2px solid var(--gray-color);
  padding: 10px;
  padding-left: 40px;
}

.orderitem-wrap-right button {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: var(--navy-color);
  border: 1px solid var(--navy-color);
  border-radius: 5px;
  width: 130px;
  margin-bottom: 10px;
  padding: 10px;
}

.orderitem-wrap-right button:hover {
  color: var(--navy-color);
  background-color: white;
  border: 1px solid var(--navy-color);
  width: 130px;
  margin-bottom: 10px;
  padding: 10px;
}
