.page-wrap-button {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.page-wrap-button button {
  background-color: var(--navy-color);
  color: white;

  font-weight: bold;
  font-size: 18px;

  border-radius: 5px;

  margin-right: 5px;
  margin-left: 5px;

  padding: 10px;
}

.page-wrap-button button:disabled {
  background-color: gray;
  cursor: revert;
  transform: revert;
}

button[aira-current="page"] {
  background-color: var(--red-color);
}
