.orderCoperateCard {
  margin-top: 20px;
  border: 2px solid rgb(180, 180, 180);
  background-color: #e4e4e4;
  padding: 20px;
  width: 100%;
}
.orderCoperateCard span {
  font-size: 16px;
  font-weight: bold;
}

.orderCoperateCard select {
  width: 400px;
  padding: 5px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  margin: 0 20px;
}

.orderCoperateCard-selectedCard {
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
