* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-color: RGB(245, 245, 245);
  --red-color: RGB(240, 85, 86);
  --navy-color: RGB(49, 72, 95);
  --black-color: RGB(20, 20, 20);
}
