.regist {
  height: 100vh;

  border: 1px solid var(--navy-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.regist-input {
  width: 40%;
  height: 30px;
  margin-bottom: 50px;
}

.regist-input input {
  width: 100%;
  height: 100%;

  border: 1px solid var(--navy-color);
  border-radius: 5px;
}
