.registSection
/* .regist-clause  */ {
  padding-left: 20px;
  padding-bottom: 50px;
  display: flex;

  border-bottom: 1px solid #ccc;

  margin-bottom: 30px;
}

.registSection h3,
.regist-clause h3 {
  font-size: 32px;
  font-weight: bold;
  margin-right: 250px;
}
