.order-title {
  padding: 20px 0px;
  margin-bottom: 40px;
  border-bottom: 5px solid var(--navy-color);
}

.order-title h3 {
  font-size: 26px;
  font-weight: bold;
}

/* 구매자 정보 컴포넌트  */
.order-consumer {
  margin-bottom: 50px;
}

.order-consumer h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-consumer-table {
  font-size: 14px;
  color: #333;
  border-collapse: collapse;
  width: 100%;
  border-top: 2px solid #ccc;
}

.order-consumer-table__col1 {
  width: 150px;
  border: solid #e4e4e4;
  border-width: 0 1px 1px 0;
  padding: 10px 10px;
  font-weight: 700;
  text-align: center;
  background-color: #f4f4f4;
}

.order-consumer-table__col2 {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;
}

/* 배송 요청사항 컴포넌트 */
.modalDeliveryMemo {
  border-color: var(--navy-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

.modalDeliveryMemo header {
  width: 100%;
  height: 50px;
  background-color: var(--navy-color);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
}

.modalDeliveryMemo section {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalDeliveryMemo-select {
  width: 100%;
  padding: 20px;

  font-size: 20px;

  border-bottom: 1px solid #ccc;
}

.modalDeliveryMemo-select input {
  margin-right: 12px;
}

.modalDeliveryMemo-select__last {
  border-bottom: none;
}
.modalDeliveryMemo-directMemo {
  background-color: rgb(234, 234, 234);
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.modalDeliveryMemo-directMemo input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid rgb(222, 222, 222);
}

.modalDeliveryMemo-control {
  text-align: center;
  margin-bottom: 50px;
}

.modalDeliveryMemo-control button {
  padding: 20px 40px;
  font-weight: bold;
  border-radius: 5px;
}

.modalDeliveryMemo-control__cancle {
  background-color: #e4e4e4;
  margin-right: 30px;
}

.modalDeliveryMemo-control__storage {
  background-color: var(--navy-color);
  color: white;
}

/* 배송지 정보 컴포넌트  */
.order-deliveryInfo {
  margin-bottom: 50px;
}

.order-deliveryInfo h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-deliveryInfo-table {
  font-size: 14px;
  color: #333;
  border-collapse: collapse;
  width: 100%;
  border-top: 2px solid #ccc;
}

.order-deliveryInfo-table__col1 {
  width: 150px;
  border: solid #e4e4e4;
  border-width: 0 1px 1px 0;
  padding: 10px 10px;
  font-weight: 700;
  text-align: center;
  background-color: #f4f4f4;
}

.order-deliveryInfo-table__col2 {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;
}

.order-deliveryInfo-table__memo {
  border-bottom: 1px solid #e4e4e4;
  padding: 15px 16px;
}

.order-deliveryInfo-table__changeMemo {
  padding: 4px 8px;
  border: 1px solid #999;
  font-family: inherit;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 10px;
}

/* 배송 상품 정보 */

.order-product {
  margin-bottom: 50px;
}

.order-product h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-product-info {
  border: 1px solid #e4e4e4;
}

.order-product-info__deliveryDate {
  color: rgb(0, 137, 25);
  background-color: #f4f4f4;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 20px;
  height: 50px;

  font-size: 16px;
  font-weight: bold;
}

.order-product-info__content {
  display: flex;
  padding: 20px;
}

.order-product-info__content__img {
  width: 150px;
  height: 150px;

  margin-right: 100px;

  overflow: hidden;
}
.order-product-info__content__img img {
  width: 100%;
  height: 100%;
}

.order-product-info-content__info {
  width: 700px;

  padding: 20px 0;
}

.order-product-info-content__info p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* 결제정보 */
.order-paymentInfo {
  margin-bottom: 100px;
}

.order-paymentInfo h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-paymentInfo-table {
  font-size: 14px;
  color: #333;
  border-collapse: collapse;
  width: 100%;
  border-top: 2px solid #ccc;
}

.order-paymentInfo-table__col1 {
  width: 150px;
  border: solid #e4e4e4;
  border-width: 0 1px 1px 0;
  padding: 10px 10px;
  font-weight: 700;
  text-align: center;
  background-color: #f4f4f4;
}

.order-paymentInfo-table__col2 {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;
  font-weight: 700;
}

.order-paymentInfo-table__mile {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;

  display: flex;
  align-items: center;
}

.order-paymentInfo-table__useMile {
  padding: 4px 0px;

  display: flex;
  align-items: center;
}

.order-paymentInfo-table__useMile input {
  width: 80px;
  border: 1px solid #e4e4e4;
  font-weight: 600;
}

.order-paymentInfo-table__totalMile {
  margin-left: 20px;
}

.order-paymentInfo-table__totalMile span {
  font-weight: 600;
}

.order-paymentInfo-table__useMileError {
  margin-left: 20px;
  font-weight: 500;
  color: #ff4443;
}

.order-paymentInfo-table__payment {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-paymentInfo-table__payment__select {
  display: flex;
  align-items: center;
}

.order-paymentInfo-table__payment__select input {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.order-paymentInfo-table__payment__select span {
  margin-right: 20px;
}

/* 주문페이지 컨트롤러 */

.order-control {
  padding: 100px 0px;
  border-top: 5px solid var(--navy-color);
  text-align: center;
}

.order-control button {
  padding: 20px 60px;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  border-radius: 5px;
}

.order-control-cancle {
  background-color: #ccc;
  margin-right: 50px;
}

.order-control-buy {
  background-color: var(--navy-color);
  color: white;
}
