.productShippingAnnounce {
  padding: 0 100px;
}

.productShippingAnnounce-section {
  margin-bottom: 100px;
}

.productShippingAnnounce-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.productShippingAnnounce-table {
  font-size: 16px;
}

.productShippingAnnounce-table tr {
  border-bottom: 1px solid rgb(237, 237, 237);
}

.productShippingAnnounce-table th {
  padding: 12px 10px;
  text-align: left;
  line-height: 1.4;
  color: rgb(118, 118, 118);
  width: 300px;
}

.productShippingAnnounce-table td {
  color: rgb(67, 67, 67);
}

.productShippingAnnounce-section-info__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productShippingAnnounce-section-info__content {
  text-align: left;
  font-size: 16px;
  color: rgb(122, 122, 122);
  margin-bottom: 20px;
}

.productShippingAnnounce-section-info__list {
  font-size: 16px;
  list-style: disc;
  padding-left: 22px;
}

.productShippingAnnounce-section-info__list__item {
  margin-bottom: 10px;
  line-height: 1.5;
}

.productShippingAnnounce-section-info__list__item__refer {
  font-size: 14px;
  margin-left: 10px;
  color: rgb(122, 122, 122);
}
