.productReview {
  padding: 0 100px;
}

.productReview-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.productReview-amount {
  color: var(--red-color);
  margin-left: 10px;
}
