input {
  font-family: inherit;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.invalid input {
  border-color: tomato;
  background-color: #f7e4e4;
}
