.backdrop {
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100vh;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  z-index: 20;
  width: 40%;
  height: auto;
  min-width: 600px;
  top: 10vh;
  left: 30%;

  border: 3px solid #ccc;

  display: flex;
  justify-content: center;

  background-color: white;

  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
