/* 결제정보 */
.orderPaymentInfo {
  margin-bottom: 100px;
}

.orderPaymentInfo h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.orderPaymentInfo-table {
  font-size: 14px;
  color: #333;
  border-collapse: collapse;
  width: 100%;
  border-top: 2px solid #ccc;
}

.orderPaymentInfo-table__col1 {
  width: 150px;
  border: solid #e4e4e4;
  border-width: 0 1px 1px 0;
  padding: 10px 10px;
  font-weight: 700;
  text-align: center;
  background-color: #f4f4f4;
}

.orderPaymentInfo-table__col2 {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;
  font-weight: 700;
}

.orderPaymentInfo-table__mile {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;

  display: flex;
  align-items: center;
}

.orderPaymentInfo-table__useMile {
  padding: 4px 0px;

  display: flex;
  align-items: center;
}

.orderPaymentInfo-table__useMile input {
  width: 80px;
  border: 1px solid #e4e4e4;
  font-weight: 600;
}

.orderPaymentInfo-table__useMile__btn {
  padding: 4px 8px;
  border: 1px solid #999;
  font-family: inherit;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 10px;
  background-color: #e4e4e4;
}

.orderPaymentInfo-table__totalMile {
  margin-left: 20px;
  color: #ff4443;
}

.orderPaymentInfo-table__totalMile span {
  font-weight: 600;
}

.orderPaymentInfo-table__useMileError {
  margin-left: 20px;
  font-weight: 500;
  color: #ff4443;
}

.orderPaymentInfo-table__payment {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orderPaymentInfo-table__payment__select {
  display: flex;
  align-items: center;
}
.orderPaymentInfo-table__payment__select__item {
  display: flex;
  align-items: center;
}

.orderPaymentInfo-table__payment__select input {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.orderPaymentInfo-table__payment__select span {
  margin-right: 20px;
}
